---
import { Image } from 'astro:assets';

// Importar las im치genes
import Horror1 from '../../../../assets/img/Gen4/Horror1.webp';
import Horror2 from '../../../../assets/img/Gen4/Horror2.webp';
import Horror3 from '../../../../assets/img/Gen4/Horror3.webp';
import Horror4 from '../../../../assets/img/Gen4/Horror4.webp';
import Horror5 from '../../../../assets/img/Gen4/Horror5.webp';

// Datos de los mangas
const horrorMangas = [
  {
    id: 1,
    title: 'UZUMAKI',
    image: Horror1,
    link: '/uzumaki'
  },
  {
    id: 2,
    title: 'PTSD RADIO',
    image: Horror2,
    link: '/ptsd-radio'
  },
  {
    id: 3,
    title: 'PUMPKIN KNIGHT',
    image: Horror3,
    link: '/pumpkin-knight'
  },
  {
    id: 4,
    title: 'SAIKO KURO',
    image: Horror4,
    link: '/saiko-kuro'
  },
  {
    id: 5,
    title: 'LITCHI HIKARI CLUB',
    image: Horror5,
    link: '/litchi-hikari-club'
  }
];

interface Props {
  itemsPerPage?: number;
}

const { itemsPerPage = 4 } = Astro.props;
---

<div class="ArticleStrip">
  <div class="WheelStrip">
    <section class="KITHSlider horror-slider">
      <div class="KITHSlider-contentWrapper">
        
        <h3>GENEROS DESTACADOS</h3>
        <h2>HORROR</h2>
        
        <div class="KITHSlider-sliderWrapper">
          <div class="Slider">
            <div class="Slider-tape" style="transform: translateX(0px);">
              
              {horrorMangas.map((manga, index) => (
                <div 
                  class={`Slider-item ${index >= itemsPerPage ? 'Slider-item-hidden Slider-item-right' : ''}`}
                >
                  <div class="KITHWheelItem" aria-label={`Manga ${manga.title}`}>
                    <a href={manga.link}>
                      <div class="InnerBorder">
                        <div class="Item-Thumbnail-Series" aria-label={`poster wrapper for ${manga.title}`}>
                          <div class="ui-series-poster-container ui-series-poster-container-hover" style="padding-top: 140%;">
                            <div class="ui-series-poster-container-2">
                              <div class="ui-series-poster-wrapper">
                                
                                <Image
                                  src={manga.image}
                                  alt={`${manga.title} manga cover`}
                                  class="ui-series-poster-image"
                                  loading="lazy"
                                  fetchpriority="low"
                                  widths={[162, 212, 240, 338]}
                                  sizes="(max-width: 767px) 240px, (max-width: 991px) 162px, (max-width: 1199px) 212px, 338px"
                                  format="webp"
                                />
                                
                                <div class="colorize" style="background-color: rgb(211, 0, 0);"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="TituloItem" aria-label={manga.title}>
                      {manga.title}
                    </div>

                    <a class="KITHWheelItem-reader" href={manga.link} aria-label={`Read ${manga.title} Chapter 1`}>
                      <span class="ui-underlined-text">LEER CAPITULO 1</span>
                    </a>
                  </div>
                </div>
              ))}

            </div>
            
            <!-- Indicadores de p치gina (bullets) -->
            <div class="KITHSlider-bullets">
              <button type="button" class="active" title="Page 1" aria-label="Go to page 1"></button>
              <button type="button" class="" title="Page 2" aria-label="Go to page 2"></button>
            </div>
            
            <!-- Bot칩n anterior del slider -->
            <div class="KITHSlider-btnWrapper prev">
              <button type="button" tabindex="-1" aria-label="Previous page">
                <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path d="M69.8437,43.3876,33.8422,13.3863a6.0035,6.0035,0,0,0-7.6878,9.223l30.47,25.39-30.47,25.39a6.0035,6.0035,0,0,0,7.6878,9.2231L69.8437,52.6106a6.0091,6.0091,0,0,0,0-9.223Z"></path>
                </svg>
              </button>
            </div>
            
            <!-- Bot칩n siguiente del slider -->
            <div class="KITHSlider-btnWrapper next visible">
              <button type="button" tabindex="-1" aria-label="Next page">
                <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path d="M69.8437,43.3876,33.8422,13.3863a6.0035,6.0035,0,0,0-7.6878,9.223l30.47,25.39-30.47,25.39a6.0035,6.0035,0,0,0,7.6878,9.2231L69.8437,52.6106a6.0091,6.0091,0,0,0,0-9.223Z"></path>
                </svg>
              </button>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  import { HORRORSlider } from './HORROR';

  document.addEventListener('DOMContentLoaded', () => {
    new HORRORSlider({
      itemsPerPage: 4,
      sliderSelector: '.horror-slider .Slider-tape',
      itemSelector: '.horror-slider .Slider-item',
      nextBtnSelector: '.horror-slider .KITHSlider-btnWrapper.next button',
      prevBtnSelector: '.horror-slider .KITHSlider-btnWrapper.prev button',
      bulletsSelector: '.horror-slider .KITHSlider-bullets'
    });
  });
</script>