---
import { Image } from "astro:assets";
import D1 from "../../../assets/img/Destacados/D1.webp";
import D2 from "../../../assets/img/Destacados/D2.webp";

const items = [
  {
    href: "/series/gokurakugai",
    img: D1,
    alt: "MANGA 1",
    info: "Hasta 4/28",
    titulo: "GOKURAKUGAI",
    autor: "Yuto Sano",
    color: "rgb(20, 191, 161)",
  },
  {
    href: "/series/the-climber",
    img: D2,
    alt: "MANGA 2",
    info: "Hasta 5/12",
    titulo: "THE CLIMBER",
    autor: "Shinichi Sakamoto",
    color: "rgb(18, 0, 173)",
  },
];
---

<div class="ArticleStrip">
  <div class="SeriesDestacadas">
    <h3>SERIES DESTACADAS</h3>
    <h2>Lo más visto</h2>
    <div class="SeriesDestacadas-list">
      {items.map(item => (
        <div class="SeriesDestacadas-item">
          <div class="SeriesDestacadas-imagen">
            <a href={item.href}>
              <div class="Poster-contenedor Poster-contenedor-hover" style="padding-top: 60%;">
                <div class="Poster-contenedor-2">
                  <div class="Poster-contenedor-wrapper">
                    <Image
                      src={item.img}
                      alt={item.alt}
                      width={700}
                      height={560}
                      sizes="(max-width: 992px) 100vw, 700px"
                      class="Poster-contenedor-imagen"
                      loading="eager"
                      fetchpriority="high"
                    />
                    <div class="colorize" style={`background-color: ${item.color};`}></div>
                  </div>
                </div>
              </div>
            </a>
            <div class="SeriesDestacadas-info">{item.info}</div>
          </div>
          <div class="SeriesDestacadas-itemFooter">
            <div class="SeriesDestacadas-itemFooter-izquierda">
              <a class="SeriesDestacadas-titulo" href={item.href}>{item.titulo}</a>
              <a class="SeriesDestacadas-autor" href={item.href}>{item.autor}</a>
            </div>
            <div class="SeriesDestacadas-itemFooter-derecha">
              <a href={item.href}>
                <div role="button" class="arrow-container" aria-label="READ">
                  <span class="arrow-btn with-arrow text-bold">LEER</span>
                  <div class="icon-wrapper">
                    <svg viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" fill="white" width="80" class="icon">
                      <path d="m15.496 0 15.939 15.939H0v2.122h31.435L15.495 34H18.5L34 18.5v-3.004L18.5 0h-3.004Z"></path>
                    </svg>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</div>