---
import Layout from "../../layouts/Layout.astro";
import { seriesData } from "../../data/mangas.jsx";
import ResponsiveImage from "./ResponsiveImage.astro";
import "../../mixins/utilities.scss";
import "../../mixins/Reboot.scss";
import "../../styles/stylefunciona.css";
import "../../styles/styles.css";
import "../../styles/BOTONES.scss";
import "./_series.scss";
import "./_kithseries.scss";
import "../../components/Content/PROXIMOSLANZAMIENTOS/PROXIMOSLANZAMIENTOS.scss";
import "../../components/Header/Header.scss";
import "../../components/Content/SLIDERSGLOBAL/KITHSLIDER.scss";
import { Image } from "astro:assets";

const { slug } = Astro.params;
const serie = seriesData.find((s) => s.slug === slug);

if (!serie) {
  throw new Error(`Serie con slug "${slug}" no encontrada.`);
}

export async function getStaticPaths() {
  return seriesData.map((serie) => ({
    params: { slug: serie.slug },
  }));
}
---

<Layout showChadbot={true}>
  <main class="series-container">
    <div class="series-max-wrapper">
      <div class="header-on-mobile">
        <div class="series-grid-header">
          <div class="series-desktop-header-info-wrapper-series">
            <h1 class="series-desktop-header-info-title">{serie.title}</h1>
            <span class="series-desktop-header-info-author-series"
              >By {serie.author}</span
            >

            <div class="hide-on-mobile-series">
              <p class="series-desktop-header-info-description justificado">
                {serie.description}
              </p>
            </div>

            <div class="series-desktop-reader-chapter">
              <div class="read-in-series-column">
                <div class="read-in-series-container">
                  <div
                    class="ui-product-poster-container ui-product-poster-container-hover"
                    style="padding-top: 120%;"
                  >
                    <div class="ui-product-poster-container-2">
                      <div class="ui-product-poster-wrapper">
                        <picture>
                          <Image
                            loading="lazy"
                            class="ui-product-poster-image"
                            src={serie.volumes?.[0]?.img ?? serie.portada.desktop}
                            alt={`Thumbnail for ${serie.title}`}
                            width="1763"
                            height="2530"
                          />
                        </picture>
                      </div>
                    </div>
                  </div>

                  <div class="read-in-series-info-actions-wrapper">
                    <div class="read-in-series-info-wrapper">
                      <span class="read-in-series-header">Empezar Leyendo</span>
                      <span class="read-in-series-chapter">Capítulo 1</span>
                      <span class="read-in-series-page">{serie.pg}</span>
                    </div>

                    <a href={serie.enlace}>
                      <div
                        role="button"
                        class="arrow-container"
                        aria-label="Read Now"
                      >
                        <span class="arrow-btn with-arrow text-bold"
                          >LEER AHORA</span
                        >
                        <div class="icon-wrapper">
                          <svg
                            viewBox="0 0 34 34"
                            fill="white"
                            width="80"
                            class="icon"
                          >
                            <path
                              d="m15.496 0 15.939 15.939H0v2.122h31.435L15.495 34H18.5L34 18.5v-3.004L18.5 0h-3.004Z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="series-poster-wrapper">
            <!-- Mobile Poster -->
            <div class="hide-breadcrumb-on-desktop">
              <ResponsiveImage
                loading="lazy"
                src={serie.portada.mobile}
                alt={`Portada de ${serie.title}`}
                paddingTop="80%"
                bgColor="rgb(246, 117, 153)"
              />
            </div>

            <!-- Desktop Poster -->
            <div class="hide-on-mobile-series">
              <ResponsiveImage
                loading="lazy"
                src={serie.portada.desktop}
                alt={`Portada de ${serie.title}`}
                paddingTop="114%"
                bgColor="rgb(246, 117, 153)"
              />
            </div>
          </div>

          <div class="series-breadcrumb-wrapper" data-nosnippet="true">
            <div class="hide-breadcrumb-on-desktop">
              <div class="breadcrumb-container">
                <!-- Enlaces breadcrumb mobile -->
                <div class="breadcrumb-wrapper">
                  <a class="breadcrumb-element" href="/explorar">explorar</a>
                  <span class="breadcrumb-slash">/</span>
                </div>
                <div class="breadcrumb-wrapper">
                  <a class="breadcrumb-element" href="/explorar">Manga</a>
                  <span class="breadcrumb-slash">/</span>
                </div>
                <div class="breadcrumb-wrapper">
                  <div class="breadcrumb-item-with-no-hover breadcrumb-element">
                    {serie.title}
                  </div>
                </div>
              </div>
            </div>
            <div class="hide-breadcrumb-on-mobile">
              <div
                class="breadcrumb-container series-desktop-header-breadcrumb-styles"
              >
                <!-- Enlaces breadcrumb -->
                <div class="breadcrumb-wrapper">
                  <a class="breadcrumb-element" href="/explorar">explorar</a>
                  <span class="breadcrumb-slash">/</span>
                </div>
                <div class="breadcrumb-wrapper">
                  <a class="breadcrumb-element" href="/explorar">Manga</a>
                  <span class="breadcrumb-slash">/</span>
                </div>
                <div class="breadcrumb-wrapper">
                  <div class="breadcrumb-item-with-no-hover breadcrumb-element">
                    {serie.title}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- INFORMACION DE LA SERIE -->
      <div class="SeriesInfo">
        <div class="SeriesInfo-title">
          <h2>SERIES INFO</h2>
        </div>

        <div class="SeriesInfo-table">
          <div class="SeriesInfo-row">
            <div class="SeriesInfo-col">
              <span class="SeriesInfo-key">STATUS</span>
              <span class="SeriesInfo-value">{serie.status}</span>
            </div>
            <div class="SeriesInfo-col">
              <span class="SeriesInfo-key">EDAD</span>
              <span class="SeriesInfo-value">{serie.edadr}</span>
            </div>
            <div class="SeriesInfo-col">
              <span class="SeriesInfo-key">RECURSOS</span>
              <div class="SeriesInfo-links">
                {
                  serie.recursos.map((recurso) => (
                    <a
                      href={recurso.url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="SeriesInfo-link"
                    >
                      {recurso.nombre}
                    </a>
                  ))
                }
              </div>
            </div>
          </div>

          <div class="SeriesInfo-row">
            <div class="SeriesInfo-col">
              <span class="SeriesInfo-key">Tags</span>
              <div class="SeriesInfo-tags">
                {
                  serie.tags.map((tag) => (
                    <span class="SeriesInfo-tag">{tag}</span>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- VOLUMENES -->
      {
        serie.volumes?.length > 0 && (
          <div class="series-max-wrapper">
            <div class="series-desktop-volume-container series-products-container">
              <div class="series-tabs-desktop-container">
                <div class="series-tabs-desktop-wrapper">
                  <h2 class="series-tabs-desktop-volumes-text">
                    {serie.volumes.length} Volúmenes
                  </h2>
                </div>
              </div>

              <div class="series-desktop-volume-grid false">
                {serie.volumes.map((volumen) => (
                  <div class="series-volumeItem">
                    <div class="series-volume-item-top-container series-volume-item-top-container-desktop">
                      <div class="series-volume-item-container series-volume-item-container-normal">
                        <div class="product-item-column-wrapper">
                          <div class="product-item-wrapper">
                            <a href={volumen.link}>
                              <div
                                class="ui-product-poster-container"
                                style="padding-top: 125%;"
                              >
                                <div class="ui-product-poster-container-2">
                                  <div class="ui-product-poster-wrapper">
                                    <picture>
                                      <img
                                        loading="lazy"
                                        class="ui-product-poster-image"
                                        src={volumen.img}
                                        alt={volumen.title}
                                      />
                                    </picture>
                                  </div>
                                </div>
                              </div>
                            </a>
                            <div class="info-wrapper">
                              <a class="info-wrapper-title" href={volumen.link}>
                                <h3 class="product-name">{volumen.title}</h3>
                              </a>
                              <div class="date-price-wrapper">
                                <span class="date-pages">
                                  <span>{volumen.fecha}</span> |{" "}
                                  <span>{volumen.paginas} páginas</span>
                                </span>
                              </div>
                              <a href={volumen.link}>
                                <div class="actions">
                                  <div
                                    role="button"
                                    class="arrow-container"
                                    aria-label="BUY DIGITAL"
                                  >
                                    <span class="arrow-btn no-arrow text-bold">
                                      LEER AHORA
                                    </span>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="series-desktop-volume-divider" />
                    </div>
                  </div>
                ))}
              </div>
            </div>
          </div>
        )
      }
    </div>
  </main>

  <div style="margin-top: 80px;"></div>
</Layout>
