---
const {
  src="",
  alt = 'Imagen',
  width = 1200,
  height = 960,
  bgColor = 'transparent',
  paddingTop = '114%',
} = Astro.props;

const srcBase = src.replace(/\.\w+$/, ''); 
---

<div class="ui-series-poster-container false" style={`padding-top: ${paddingTop};`}>
  <div class="ui-series-poster-container-2">
    <div class="ui-series-poster-wrapper">
      <picture>
        <source type="image/webp" srcset={`${srcBase}.webp?f=webp&w=700, ${srcBase}.webp?f=webp&w=700 2x`} media="(max-width: 991px)" />
        <source type="image/webp" srcset={`${srcBase}.webp?f=webp&w=400, ${srcBase}.webp?f=webp&w=400 2x`} media="(min-width: 992px) and (max-width: 1199px)" />
        <source type="image/webp" srcset={`${srcBase}.webp?f=webp&w=600, ${srcBase}.webp?f=webp&w=600 2x`} media="(min-width: 1200px)" />
        
        <source type="image/jpeg" srcset={`${srcBase}.webp?f=jpeg&w=700, ${srcBase}.webp?f=jpeg&w=700 2x`} media="(max-width: 991px)" />
        <source type="image/jpeg" srcset={`${srcBase}.webp?f=jpeg&w=400, ${srcBase}.webp?f=jpeg&w=400 2x`} media="(min-width: 992px) and (max-width: 1199px)" />
        <source type="image/jpeg" srcset={`${srcBase}.webp?f=jpeg&w=600, ${srcBase}.webp?f=jpeg&w=600 2x`} media="(min-width: 1200px)" />
        
        <img
          fetchpriority="high"
          loading="eager"
          class="ui-series-poster-image"
          src={`${srcBase}.webp`}
          alt={alt}
          width={width}
          height={height}
        />
      </picture>
      <div class="colorize" style={`background-color: ${bgColor};`}></div>
    </div>
  </div>
</div>
