---
import { Image } from 'astro:assets';

import Shonnen1 from '../../../../assets/img/Gen1/Shonnen1.webp';
import Shonnen2 from '../../../../assets/img/Gen1/Shonnen2.webp';
import Shonnen3 from '../../../../assets/img/Gen1/Shonnen3.webp';
import Shonnen4 from '../../../../assets/img/Gen1/Shonnen4.webp';
import Shonnen5 from '../../../../assets/img/Gen1/Shonnen5.webp';

const shonnenMangas = [
  { id: 1, title: 'ONE PIECE', image: Shonnen1, link: '/otrapag' },
  { id: 2, title: 'DRAGON BALL SUPER', image: Shonnen2, link: '/otrapag' },
  { id: 3, title: 'NARUTO', image: Shonnen3, link: '/otrapag' },
  { id: 4, title: 'BLEACH', image: Shonnen4, link: '/otrapag' },
  { id: 5, title: 'JUJUTSU KAISEN', image: Shonnen5, link: '/otrapag' }
];

const { itemsPerPage = 4 } = Astro.props;
---
<div class="ArticleStrip">
  <div class="WheelStrip">
    <section class="KITHSlider shonnen-slider">
      <div class="KITHSlider-contentWrapper">

        <h3>GENEROS DESTACADOS</h3>
        <h2>SHONEN</h2>

        <div class="KITHSlider-sliderWrapper">
          <div class="Slider">
            <div class="Slider-tape" style="transform: translateX(0px);">

              {shonnenMangas.map((manga, index) => (
                <div class={`Slider-item ${index >= itemsPerPage ? 'Slider-item-hidden Slider-item-right' : ''}`}>
                  <div class="KITHWheelItem" aria-label={manga.title}>
                    <a href={manga.link}>
                      <div class="InnerBorder">
                        <div class="Item-Thumbnail-Series" aria-label={`poster wrapper for ${manga.title}`}>
                          <div class="ui-series-poster-container ui-series-poster-container-hover" style="padding-top: 140%;">
                            <div class="ui-series-poster-container-2">
                              <div class="ui-series-poster-wrapper">

                                <Image
                                  src={manga.image}
                                  alt={`${manga.title} manga cover`}
                                  class="ui-series-poster-image"
                                  loading="lazy"
                                  fetchpriority="low"
                                  widths={[162, 212, 240, 338]}
                                  sizes="(max-width: 767px) 240px, (max-width: 991px) 162px, (max-width: 1199px) 212px, 338px"
                                  format="webp"
                                />

                                <div class="colorize" style="background-color: rgb(255, 159, 55);"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="TituloItem" aria-label={manga.title}>
                      {manga.title}
                    </div>

                    <a class="KITHWheelItem-reader" href={manga.link} aria-label={`Read ${manga.title} Chapter 1`}>
                      <span class="ui-underlined-text">LEER CAPITULO 1</span>
                    </a>
                  </div>
                </div>
              ))}
            </div>

            <div class="KITHSlider-bullets"></div>

            <div class="KITHSlider-btnWrapper prev">
              <button type="button" tabindex="-1" aria-label="Previous page">
                <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path d="M69.8437,43.3876,33.8422,13.3863a6.0035,6.0035,0,0,0-7.6878,9.223l30.47,25.39-30.47,25.39a6.0035,6.0035,0,0,0,7.6878,9.2231L69.8437,52.6106a6.0091,6.0091,0,0,0,0-9.223Z"></path>
                </svg>
              </button>
            </div>

            <div class="KITHSlider-btnWrapper next visible">
              <button type="button" tabindex="-1" aria-label="Next page">
                <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path d="M69.8437,43.3876,33.8422,13.3863a6.0035,6.0035,0,0,0-7.6878,9.223l30.47,25.39-30.47,25.39a6.0035,6.0035,0,0,0,7.6878,9.2231L69.8437,52.6106a6.0091,6.0091,0,0,0,0-9.223Z"></path>
                </svg>
              </button>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script>
  import { SHONNENSlider } from './SHONNEN';

  document.addEventListener('DOMContentLoaded', () => {
    new SHONNENSlider({
      itemsPerPage: 4,
      sliderSelector: '.shonnen-slider .Slider-tape',
      itemSelector: '.shonnen-slider .Slider-item',
      nextBtnSelector: '.shonnen-slider .KITHSlider-btnWrapper.next button',
      prevBtnSelector: '.shonnen-slider .KITHSlider-btnWrapper.prev button',
      bulletsSelector: '.shonnen-slider .KITHSlider-bullets'
    });
  });
</script>
